<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Improve-isation</title>
    <link rel="icon" type="image/x-icon" href="https://i.ibb.co/FJcW4XD/unitn-logo-black-A-scelta.png">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
  </head>

  <body style="background-color:  #000000!important;">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/essentia.js@0.1.3/dist/essentia-wasm.web.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/essentia.js@0.1.3/dist/essentia.js-extractor.js"></script>
    <script src="https://unpkg.com/essentia.js@0.1.3/dist/essentia.js-core.js"></script>>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.0/dist/sweetalert2.all.min.js"></script>
    <script src="https://unpkg.com/wavesurfer.js"></script>
    

    <!-- MENU -->
    <div class="ui inverted menu" style="margin: 0px;">
      <div class="container">
        <div class="left item" style="position:unset;">
          <h1 class="ui header white-text" style="color:white; margin-inline:30px;">
            Improve-isation
          </h1>
        </div>
      </div>

      <div class="left item" style="position: unset;">
        <a href="https://www.disi.unitn.it/" target="_blank"><img height="38px" style="margin-right: 20px;" src="https://i.ibb.co/FJcW4XD/unitn-logo-black-A-scelta.png"/></a>
        <a href="https://www.cimil.disi.unitn.it/" target="_blank"><img height="36px" src="https://www.cimil.disi.unitn.it/wp-content/uploads/2021/05/logo_CIMIL.png"/></a>
      </div>

      <!-- YT LINK -->
      <div class="container">
        <div class="right item" style="position:unset;">Enter a YouTube URL:</div>
        <div class="right item"  style="margin-right: 30px; position: unset;">
          <div class="ui inverted action input">
            <input type="url" id="input_yt_url"
            placeholder="https://www.youtube.com/watch?v=example"
            style="width: 400px;"></input>
            <button class="ui button" id="load_audio_btn">Load audio</button>
          </div>
        </div>
      </div>      
    </div> <!-- END MENU -->

    <!-- PAGE GRID BODY -->
    <div class="ui grid " style="margin: 30px">

      <!-- LEFT RAIL -->
      <div class="ui four wide column">

        <div id="tonalInfoDiv" style="margin-bottom: 30px; display: none;">
          <div class="ui inverted horizontal divider" style="margin-top: 0px;">Tonal informations</div>

          <p style="color: grey; position: absolute; right: 70px; margin-bottom:-1px;">Bpm:</p>
          <p id="bpmHeader"; style="font-size:large; color:white; position:absolute; right:25px; margin-top:19px;"></p>

          <p style="color: grey; margin-bottom:-1px; margin-left:-10px;">Key:</p>
          <p id="keyHeader"; style="font-size: large; color: white;"></p>

          <p style="color: grey; margin-top: 10px; margin-bottom:-1px; margin-left:-10px;">Scale / mode:</p>
          <p id="scaleHeader"; style="font-size: large; color: white; margin-top: 0;"></p>

          <div class="ui center aligned container">
            <div id="edit_tonal_btn" class="ui inverted small icon basic button" style="display: none;">
              <i class="edit icon" style="padding-right: 5px;"></i>
              Change key / scale
            </div>
          </div>
        </div>

        <div id="scaleStatsDiv" style="margin-bottom: 30px; display: none">
          <div class="ui inverted horizontal divider" style="margin-top: 0px;">Scale stats</div>
          <div class="ui center aligned grid">
            <div class="two columns row" style="padding-bottom: 0px;">
              <div class="column">
                <p style="color: grey;">In scale notes</p>
              </div>
              <div class="column">
                <p style="color: grey;">Out of scale notes</p>
              </div>
            </div>
            <div class="four columns row" style="padding-top: 0px;">
              <div class="right aligned column" id="stats_inScaleNotes" style="margin-right: -10px;"></div>
              <div class="left aligned column" id="stats_inScaleOcc" style="margin-left: -10px;"></div>
              <div class="right aligned column" id="stats_outOfScaleNotes" style="margin-right: -10px;"></div>
              <div class="left aligned column" id="stats_outOfScaleOcc" style="margin-left: -10px;"></div>
            </div>
          </div>
        </div>

        <div class="overall stats">
          <div class="ui inverted horizontal divider" style="margin-top: 0px;">Overall stats</div>
          
          <div class = "ui equal width grid">
            <div class="right aligned column" style="margin-right: -10px;">
              <p style="color: grey;">Notes played:</p>
              <p style="color: grey;">Correct notes:</p>
              <p style="color: grey;">Wrong notes:</p>
            </div>
            <div class="column" style="margin-left: -8px;">
              <p id="totalNotesHeader" style="color: white;"></p>
              <p id="correctNotesHeader" style="color: white;"></p>
              <p id="wrongNotesHeader" style="color: white;"></p>
            </div>
          </div>
        </div>

      </div>

      <!-- RIGHT BODY -->
      <div class="ui twelve wide column">
        <div class="ui header centered">

          <!-- SAMPLE RATE ERROR -->
          <div class="ui inverted warning tiny message" id="sampleRateMsg" style="display: none;">
            <i class="close icon" id="sample_rate_btn"></i>
            <div class="header">
              WARNING: the audio sample rate should be set to 44100Hz.
            </div>
            <p style="text-align: left;">Some functions of this app require a sample rate of 44100Hz to be set on your device. 
              Otherwise, functions like chord recognition and BPM extraction may not work properly. 
              Unfortunately, we cannot change this setting for you.</p>
            <ul class="list">
              <li>If your device is running Windows, please follow <a href="https://samsontech.zendesk.com/hc/en-us/articles/1260802890449-Fix-Windows-10-sample-rate-mismatch-causing-garbled-audio" target="_blank">
                this guide</a> to change the audio sample rate of both your Speaker and Microphone to 44100Hz.</li>
              <li>If your device is a Mac, please follow <a href="https://smallbusiness.chron.com/macbook-pro-change-sample-rate-49804.html" target="_blank">
                this guide</a> instead to change the audio sample rate of both your Speaker and Microphone to 44100Hz.</li>
            </ul>
            <p style="text-align: left;">Please reload the page to apply changes.</p>
          </div>

          <div id="chordsDiv" style="display: none;">
            <div id="chordsToggleSegment" class="ui tiny inverted right aligned toggle checkbox" style="position:absolute; left:20px;">
              <input type="checkbox" name="show_chords_toggle">
              <label>Show chords:</label>
              <p style="color: grey; position: absolute; font-size: x-small;"><tiny>(beta)</tiny></p>
            </div>

            <div id="chordsDisplay" style="position: absolute; left:44%; top:-10px; display: none;">
              <h3 
                id="previousChordHeader";
                style="color: rgb(170, 170, 170); display: inline-block;">
              </h3>
              <h1 
                id="currentChordHeader";
                style="color: white; display: inline-block; width: 100px;">
              </h1>
              <h3 
                id="nextChordHeader";
                style="color: rgb(170, 170, 170); display: inline-block;">
              </h3>
            </div>
          </div>

          <div id=currentNoteDiv style="height: 69px; width:25%; position:absolute; right:0px;">
            <p id="currentNoteLabel" style="font-size:medium; color:white; margin: 0px;"></p>
            <p id="currentNoteHeader"; style="font-size:x-large; color:white; margin:0px;"></p>
          </div>

          <div id="scaleNotes" class="ui centered container"
            style="height:69px; display:flex; flex-direction:row; align-items: center; justify-content:space-between; width:45%;">
          </div>

          <!-- PLAYER BLOCK -->
          <div class="audioPlayer" style="margin-top: 10px; margin-bottom: 25px;">

            <h4 id="emptyPlayer" style="color: grey; margin-bottom: -50px; margin-top: 40px;">The player is empty. Please enter a YouTube URL to load the audio.</h4>

            <div id="waveform" style="height:200px; margin-inline: 70px; position: relative;">
              <canvas id="chordsCanva" style="width:100%; height:100%; position:absolute; left:0px"></canvas>
            </div>

            <div class="timecode" style="color: white;">
              <p id=currentTime style="display:inline; position:absolute; left:40px; margin-top:20px">00:00</p>
              <p id=totalDuration style="display:inline; position:absolute; right:40px; margin-top:20px">00:00</p>
            </div>

            <div class="controls" style="margin-top: 10px; margin-bottom: 15px;">
              <div id="stop_btn" class="large ui inverted icon primary button">
                <i class="step backward icon"
                alt="Stop Button"></i>
              </div>

              <div id="play_pause_btn" class="massive ui inverted icon primary button">
                <i class="play icon" id="play"
                alt="Play Button"></i>
                <i class="pause icon" id="pause" 
                style="display: none" 
                alt="Pause Button"></i>
              </div>

              <div id="play_mic_btn" class="massive ui inverted icon red button" style="width:66px;" 
              data-content="Plays the song, listens to the mic and analyzes your improvisation." data-variation="inverted">
                <i class="icons" id="mic_ready">
                  <i class="microphone icon"></i>
                  <i class="inverted corner play red icon" style="margin-right: -5px; margin-bottom: -4px;"></i>
                </i>
                <i class="stop icon" id="mic_stop" style="display: none;"></i>
              </div>

              <div id="volume_btn" class="large ui inverted icon primary button">
                <i class="volume up icon" id="volON"
                alt="Mute Button"></i>
                <i class="volume off icon" id="volOFF" 
                style="display: none" 
                alt="Unmute Button"></i>
              </div>

              <div class="ui inverted popup">
                <input class="volume-slider"
                  id="volume_slider"
                  type="range"
                  name="volume-slider"
                  min="0"
                  max="100"
                  value="50"/>
              </div>
  	          
            </div> <!-- END OF AUDIO CONTROLS -->
            <p><a id="nowPlayingHeader" target="_blank"; style="font-size: medium; font-weight:lighter; color: rgb(62, 151, 192);"></a></p>
          </div> <!-- END OF PLAYER -->

          <!-- local saved sessions -->
          <div class="ui inverted segment" id="storageSegment" style="display:none; margin-bottom:20px; margin-inline:50px;">
            <div class="ui inverted accordion">
              <div class="title active">
                <i class="dropdown icon"></i>
                Previously analized songs:
                <div class="delete buttons" style="position: absolute; right: 11px; top: 15px">
                  <div id="delete_song_btn" class="ui inverted mini icon basic button" style="display: none;">
                    <i class="trash alternate icon" style="padding-right: 5px;"></i>
                    Delete current song
                  </div>
                  <div id="clear_storage_btn" class="ui inverted mini icon basic button">
                    <i class="trash alternate icon" style="padding-right: 5px;"></i>
                    Delete all songs
                  </div>
                </div>

              </div>
              <div class="content active">
                <ul class="ui link list" id="sessionsList"></ul>
              </div>
            </div>
          </div>

          <!-- FOOTER -->
          <div class="ui header centered">
            <div class="footer" style="margin-top: 30px;">
              <p2 style="color: white; font-size:small; vertical-align:9px; margin-right:-5px;">Powered &nbsp;&nbsp;by</p2>
              <a href="https://mtg.github.io/essentia.js" target="_blank">
                <img src="https://github.com/MTG/essentia.js/blob/master/src/assets/img/essentiajsbanner.png?raw=true"
                  style="height: 27px;"/>
              </a>
            </div>
          </div>

        </div> <!-- END OF CENTERED RIGHT BODY -->
      </div> <!-- END OF RIGHT BODY -->

    </div> <!-- END OF PAGE GRID BODY -->

  </body>

<!-- LOADERS -->
<div class="ui inactive dimmer" id="loader">
  <div class="ui big inactive inverted text loader">Fetching the audio track...</div>
</div>

<!-- Edit session MODAL FORM -->
<div id="editSessionWrapper">
  <div id="editSessionModal" class="ui inverted modal">
    <div class="header">
      Edit song settings
    </div>
    <div class="ui inverted segment">
      <form class="ui inverted form">
        <h4 class="ui inverted dividing header">Song informations</h4>
        <div class="inline field">
          <label style="font-size: medium;">Title</label>
          <input id="song_title_input" style="width: 50%;" type="text" placeholder="Title">
        </div>

        <h4 class="ui inverted dividing header">Tonal settings</h4>
        <div class="inline fields">
          <div class="field" style="margin-right:20px">
            <label style="font-size:small;">Key</label>
            <select id="select_key_input" class="ui search key dropdown">
              <option value="0">A</option>
              <option value="1">A#</option>
              <option value="2">B</option>
              <option value="3">C</option>
              <option value="4">C#</option>
              <option value="5">D</option>
              <option value="6">D#</option>
              <option value="7">E</option>
              <option value="8">F</option>
              <option value="9">F#</option>
              <option value="10">G</option>
              <option value="11">G#</option>
            </select>
          </div>
          <div class="field">
            <label style="font-size:small;">Scale / mode</label>
            <select class="ui search scale dropdown"></select>
          </div>
        </div>

        <div class="ui inverted message">
          <div class="header">Description:</div>
          <p id="modeDescriptionMessage">A B C D</p>
          <div class="header">Scale notes in this key:</div>
          <p id="notesInKeyMessage" style="font-size: medium;"></p>
        </div>
        
      </form>

      <div class="ui info message">
        <i class="close icon"></i>
        <div class="header">Do you know guitar modes?</div>
        <ul class="list">
          <li>Do you know the scales of the modes and the musical theory behind them?</li>
          <li>Do you know you can play all the 7 modes on the same scale?</li>
        </ul>
        <a href="https://www.jazzguitar.be/blog/guitar-modes/">Learn more here.</a>
      </div>

    </div>
    
    <div class="actions">
      <span class="ui warning text" style="position:absolute; margin-top:10px; left:20px;">
        Warning: saving will clear your current scale statistics.
      </span>
      <div class="ui black deny button">
        Discard changes
      </div>
      <div id="modal_save_edit_btn" class="ui positive right labeled icon button">
        Save
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>
</div>

<!-- Open session? MODAL -->
<div id="openSessionWrapper">
  <div id="openSessionModal" class="ui basic modal" style="margin-top: 15%;">
    <div class="ui icon header"><i class="upload icon"></i>Do you want to open this song?</div>
    <p id="modalOpenSongName" style="text-align: center;"></p>
    <div class="actions">
      <div class="ui red basic cancel inverted button"><i class="remove icon"></i>No</div>
      <div class="ui green ok inverted button" id="modal_load_session_btn"><i class="checkmark icon"></i>Yes</div>
    </div>
  </div>
</div>

<!-- Delete are u sure? MODAL -->
<div id="deleteSessionModal" class="ui basic modal">
  <div class="ui icon header"><i class="delete icon"></i>Do you want to delete this song?</div>
  <p id="modalDeleteSongName" style="text-align: center;"></p>
  <div class="actions">
    <div class="ui red basic cancel inverted button"><i class="remove icon"></i>No</div>
    <div class="ui green ok inverted button" id="modal_delete_song_btn"><i class="checkmark icon"></i>Yes</div>
  </div>
</div>

<!-- Delete all are u sure? MODAL -->
<div id="deleteAllSessionsModal" class="ui basic modal">
  <div class="ui icon header"><i class="delete icon"></i>Do you want to delete all the analyzed songs?</div>
  <div class="actions">
    <div class="ui red basic cancel inverted button"><i class="remove icon"></i>No</div>
    <div class="ui green ok inverted button" id="modal_delete_all_songs_btn"><i class="checkmark icon"></i>Yes</div>
  </div>
</div>

<script src="./utils.js"></script>
<script src="./mainScript.js"></script>
<script src="./player.js"></script>
<script src="./canvas.js"></script>
<script src="./storage.js"></script>
<script src="./microphone.js"></script>
<script src="./harmony.js"></script>

</html>
